[submodule "libraries/sdl_cpp_wrapper"]
	path = libraries/sdl_cpp_wrapper
	url = https://github.com/hiddeninplainsight/sdl_cpp_wrapper.git
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest.git
